a{
    color: indigo;
}a:visited{
    color: gold;
}
a:hover{
    color: salmon;
}
a:active{
    color: red;
}
a:focus{
    color: orange;
}
input:in-range{
    background-color:rgba(0,255,0,0.25) ;
}
input:out-of-range{
    background-color:rgba(255,0,0,0.25);
}
ul:nth-child(3) li:first-child{
    color:orange;
}
ul:nth-child(4) li:last-child,span:last-child{
    color: orange;
}
ul:nth-child(5) li:not(.first-item):not(:last-of-type){
    color: black;
    background-color: yellow;
}
ol li:nth-child(2){
    color: orange;
}
ol li:nth-child(even){
    color: orange;
}
ol li:nth-child(2n+6){
    color: orange;
}
.ua::before{
    content:'Слава ';
}
.hero::after{
    content: ' Слава!';
}
.cont:before{
    content:"\0A7";
}